<% if (user) { %>
<h1><%= user.name %> Your Tasks and Events</h1>
<!-- <p>User  is logged on.</p> -->

<form method="POST" action="/sessions/logoff">
  <button>Logoff</button>
  <a href="/"><button type="button">Main</button></a>
  <input type="hidden" name="_csrf" value="<%= _csrf %>" />
</form>

<% } %>

<% if (errors) { errors.forEach((err) => { %>
<div>Error: <%= err %></div>
<% }) } %> <% if (info) { info.forEach((msg) => { %>
<div>Info: <%= msg %></div>
<% }) } %>
