header {
  height: 80px;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: #120898;
  text-align: center;
  background-image: url("../img/beach.jpg");
  background-position: top;
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  /* padding: 20px; */
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  font-size: 16px;
  width: 100%;
  color: #ff0000;
  /* color: white;
  background-color: #37277d;
  /* padding: 20px; */
  z-index: 1000; /* Adjust z-index to ensure it's above other elements*/
}

p{
  color: #ff0000
}
h1 {
  font-size: min(3vw, 6em);
  /* line-height: 1.2; */
  color: #ff0000;
}

a {
  color: #ff0000;
  font-weight: bold;
  font-size: 24px;
}

a:link {
  color: #0000ff;
}

a:visited {
  color: #060080;
}
a:hover {
  color: #ff0000;
}
a:active {
  color: #008000;
}

table {
  width: 1000px;
  margin: 0 auto;
  /* color: #37277d;
  border-collapse: collapse; */
}

button {
  padding: 10px 20px;
  background-color: #519aee; 
  color: #fff; 
  border: none;
  border-radius: 15px;
  cursor: pointer; /* Hand cursor on hover for better UX */
  transition: background-color 0.3s; /* Smooth transition on hover */
  margin: 5px;
}

form input,
form select {
  background-color: #bfdafa;
  color: #120898;
  /* border: none; Remove default borders */
  border-radius: 5px; /* Add some border-radius for better appearance */
  padding: 8px; /* Add some padding for better appearance */
  margin-bottom: 10px; /* Add some margin to separate form elements */
}

#page-content {
  min-height: 80%;
  /* min-height: calc(100% - 50px);  */
  padding-bottom: 50px;
}

#events-table,
#tasks-table,
#addItem {
  background-color: #bfdafa;
  border-radius: 15px; /* Round edges */
  padding: 10px; /* Add some padding for better appearance */
  width: 1000px;
  margin: 0 auto !important; /* Center horizontally with important */
  color: #37277d;
  border-collapse: separate; /* Use separate border model */
}

#events-table tr,
#tasks-table tr {
  border-radius: 15px; /* Round edges for table rows */
}

#events-table tr td,
#tasks-table tr td {
  border-bottom: 1px solid #120898; /* Add bottom border to table cells */
  padding: 8px; /* Add padding for better appearance */
}
